price_diesel{fuel="diesel",name=TotalEnergies Wilhermsdorf} 2.229
price_e5{fuel="super-e5",name=TotalEnergies Wilhermsdorf} 2.139
price_e10{fuel="super-e10",name=TotalEnergies Wilhermsdorf} 2.079
open{name=TotalEnergies Wilhermsdorf} 1
price_diesel{fuel="diesel",name=ELO Langenzenn} 2.209
price_e5{fuel="super-e5",name=ELO Langenzenn} 2.109
price_e10{fuel="super-e10",name=ELO Langenzenn} 2.049
open{name=ELO Langenzenn} 1
price_diesel{fuel="diesel",name=AVIA Tankstelle} 2.229
price_e5{fuel="super-e5",name=AVIA Tankstelle} 2.129
price_e10{fuel="super-e10",name=AVIA Tankstelle} 2.069
open{name=AVIA Tankstelle} 1
